@page
@model ListCarsModel
@{
}

<h1>Cars</h1>

<form>
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTermCar"/>
            <span class="input-group-btn">
                <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-search">>></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var c in Model.Cars)
    {
        <tr>
            <td>@c.Model</td>
            <td>@c.Color</td>
            <td>@c.Wheel</td>
            <td>
                <a class="btn btn-primary" asp-page="./DetailsCar" asp-route-carId="@c.Id">>>>></a>
            </td>
        </tr>
    }
</table>

<div>@Model.CarName</div>